name: Check README

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check-readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Check README.md for my name
        run: |
          if ! grep -q "Gloria Piemonti" README.md; then
            echo "ERROR: README.md must contain your name!"
            exit 1
          fi

